<html>
  <head>
  <!-- External CSS -->
  <link rel="stylesheet" href="static/css/sisyphusType.css">
  </head>
  <body>
      <!-- Import main script -->
      <script src="static/javascript/sisyphusType.js"></script>
  </body>
  <!-- Append graphics to this div -->
  <div id="view"></div>

  <!-- Invisible user input box -->
  <div id="userinput"></div>

  <!-- restart button -->
  <button id="restartButton">Restart</button>

  <button id="nextButton">Next</button>

  <!-- the initial text is not used -->
  <h3 id="result"></h3>

  <h3 id="level">Class 1</h3>

  <div id="progress"></div>
</html>
